@use '../../scss/' as *;

.stillLooking {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .stillLooking__img {
        width: 250px;
        margin: auto;

        img {
            width: 100%;
            object-fit: contain;
            display: block;
        }
    }

    .stillLooking__title {
        cursor: pointer;
        width: max-content;
        margin: auto;
        color: var(--text-color);
        font-size: 1.5rem;
        text-align: center;

        &:hover {
            color: var(--primary-color);
        }
    }

    .stillLooking__actions {
        text-align: center;

        .stillLooking__actions__btn {
            color: var(--primary-color);
            text-transform: uppercase;
            font-weight: 700;
            width: 100px;
            height: 40px;
        }
    }
}
