@use '../../scss/' as *;

.switch_profile__wrapper {
    overflow: hidden;

    .switch_profile__container {
        position: relative;

        .switch_profile__background {
            min-width: 100%;
            pointer-events: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 0;

            &::after {
                background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
                content: '';
                display: block;
                inset: 0;
                position: absolute;
            }

            img {
                object-fit: cover;
                object-position: top;
                width: 100%;
                height: 100%;
                animation: fadeIn 0.5s ease-in-out forwards;

                @keyframes fadeIn {
                    from {
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                    }
                }
            }
        }

        .switch_profile__content {
            @include flex(center, center);
            width: 100%;
            min-height: 100vh;
            position: relative;
            z-index: 1;
            gap: 50px;

            .switch_profile__content__container {
                @include flex(center, center);
                flex-direction: column;
                margin-block: 30px;
                border-radius: 30px;
                height: max-content;
                gap: 50px;

                .switch_profile__title {
                    h1 {
                        color: var(--text-color);
                        font-weight: 400;
                        font-size: 3rem;
                        text-align: center;
                    }
                }

                .switch_profile__accounts {
                    @include flex(center, center);
                    flex-wrap: wrap;
                    max-width: 500px;

                    .switch_profile__account {
                        @include flex(center, center);
                        flex-direction: column;
                        gap: 10px;
                        padding: 10px;
                        margin: 10px;

                        &:hover {
                            background-color: rgb(146, 146, 146);
                            border-radius: 20px;
                            cursor: pointer;
                        }

                        .switch_profile__account__avatar {
                            border: 2px solid var(--text-color);
                        }

                        .switch_profile__account__name {
                            font-size: 1.2rem;
                            font-weight: 400;
                            color: var(--text-color);
                            max-width: 5em;
                            text-align: center;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
                .switch_profile__authentication__signin {
                    @include flex(center, center);
                    flex-direction: column;
                    gap: 20px;

                    .switch_profile__authentication__signin__title {
                        color: var(--text-color);
                    }

                    .switch_profile__authentication__actions {
                        @include flex(center, center);
                        gap: 20px;

                        .switch_profile__authentication__actions__btn__auth,
                        .switch_profile__authentication__actions__btn__oauth2 {
                            padding: 10px;
                            border-radius: 10px;
                            border-color: rgb(255, 255, 255);
                            background-color: rgb(0, 0, 0);
                        }
                    }
                }
            }
        }
    }
}
