@use '../../../scss/' as *;

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;

    .listHeader {
        padding-inline: var(--padding-page);
        cursor: pointer;
        z-index: 1;

        .listTitle {
            color: var(--text-color);
            display: inline-block;
            font-size: 1.3em;

            &:hover {
                color: var(--primary-color);
            }
        }

        .listDescription {
            color: var(--text-color-second);
            font-size: 0.8em;
        }
    }
}
