@use '../../scss/' as *;

.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .paddingTop {
        padding-top: 7.5rem;

        @include tabletlg() {
            padding-top: unset;
        }
    }

    .listMovie {
        width: 100%;
        height: 100%;
    }

    @include tabletlg() {
        margin-top: unset;
    }

    .calendarEpisode {
        padding-inline: var(--padding-page);
    }

    .lagreCard {
        max-width: 120rem;
        margin: auto;
    }
}
