@use '../../scss/' as *;

.calendarCard {
    display: flex;
    flex: 1 1 auto;
    cursor: pointer;
    gap: 7.5px;
    width: 100%;

    &:hover {
        background-color: var(--hover-color);
        border-radius: var(--border-radius);
        opacity: 0.75; // Mờ nhẹ ảnh khi hover

        .calendarCard__image {
            img {
                opacity: 0.5; // Mờ nhẹ ảnh khi hover
            }

            .calendarCard__image__playButton {
                opacity: 1; // Hiện nút play
                pointer-events: auto; // Cho phép click vào nút
            }
        }
    }

    .calendarCard__image {
        @include flex(center, center);
        position: relative;
        width: 40%;

        img {
            border-radius: var(--border-radius);
            width: 100%;
            object-fit: contain;
            display: block;
        }

        .calendarCard__image__playButton {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0; // Ẩn ban đầu
            transition: opacity 0.3s ease; // Hiệu ứng hiện nút
            pointer-events: none; // Tránh làm ảnh hưởng đến hover
        }
    }

    .calendarCard__content {
        flex: 1;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1rem;
        padding: 2px 10px 2px 0;

        .calendarCard__content__header {
            .calendarCard__title {
                line-height: 1.5;
                font-weight: 600;
                width: 100%;

                text-align: start;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                line-clamp: 2;
            }

            .calendarCard__episode {
                @include flex(center, flex-start);
                color: #777;
                margin-top: 5px;
            }
        }

        .calendarCard__content__detail {
            @include flex(center, space-between);

            .calendarCard__captions__munites {
                color: aqua;
            }
        }
    }
}
