@use '../../../scss/' as *;

.listCommentContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: var(--container-width);
    margin: auto;

    .listCommentContainer__header {
        width: 100%;
        @include flex(center, space-between);

        .listCommentContainer__header__title {
            color: var(--text-color);
            font-size: 1.75rem;
            font-weight: 600;
        }

        .listCommentContainer__header__actions {
            .listCommentContainer__browser__actions__btn {
                @include flex(center, center);
                gap: 5px;
                position: relative;
                cursor: pointer;
                padding: 12px;

                &:hover,
                &.active {
                    background-color: var(--navbar-color);

                    span,
                    svg {
                        color: var(--text-color);
                        fill: var(--text-color);
                        stroke: var(--text-color);
                    }
                }

                .listCommentContainer__browser__actions__btn__title {
                    @include flex(center, center);
                    color: var(--grey);
                    gap: 5px;
                    font-size: 1rem;
                    text-transform: uppercase;

                    @include mobilesm() {
                        display: none;
                    }
                }

                &.hover {
                    svg,
                    .listCommentContainer__browser__actions__btn__title {
                        fill: var(--text-hover-color);
                        stroke: var(--text-hover-color);
                        color: var(--text-hover-color);
                    }
                }

                .listCommentContainer__browser__actions__dropdown {
                    display: none;
                    z-index: 2;
                    position: absolute;
                    inset-block-start: 100%;
                    inset-inline-end: 0;
                    min-width: 100%;
                    width: 200px;
                    background-color: var(--navbar-color);

                    &.active {
                        display: block;
                    }

                    .listCommentContainer__browser__actions__dropdown__scrollable {
                        padding-block: calc(var(--padding-div) - 10px);

                        .listCommentContainer__browser__actions__dropdown__group {
                            padding: 0;
                            border: none;

                            .listCommentContainer__browser__actions__dropdown__title {
                                justify-content: flex-start;
                                text-transform: capitalize;
                                font-weight: 500;
                                color: var(--text-color);
                                padding-inline: var(--padding-div);
                                padding-block: calc(var(--padding-div) / 2);
                                font-size: 1.3rem;
                            }
                        }

                        .listCommentContainer__browser__actions__dropdown__item {
                            padding-inline: var(--padding-div);
                            padding-block: calc(var(--padding-div) / 1.3);
                            width: 100%;
                            color: var(--grey);
                            font-size: 1rem;
                            text-transform: capitalize;

                            @include flex(center, flex-start);
                            gap: 10px;

                            input {
                                appearance: none;
                                width: 16px;
                                height: 16px;
                                border: 2px solid #16cfb7;
                                border-radius: 50%;
                                position: relative;

                                &:checked {
                                    border-color: #16cfb7;
                                }

                                &:checked::before {
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    width: 8px;
                                    height: 8px;
                                    background-color: #16cfb7;
                                    border-radius: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }

                            label.active {
                                color: var(--text-color);
                            }

                            &:hover {
                                background-color: var(--background-color);
                                color: var(--text-color);
                            }

                            &.active {
                                color: var(--text-color);
                            }
                        }
                    }
                }
            }
        }
    }

    .listCommentContainer__body {
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: auto;

        .listCommentContainer__body__loading {
            margin: 0 auto; /* Để căn giữa */
            border: 4px solid var(--hover-color); /* Màu nền */
            border-top: 4px solid var(--primary-color); /* Màu của vòng tròn quay */
            border-radius: 50%;
            width: 25px; /* Đường kính vòng tròn */
            height: 25px;
            animation: spin 1s linear infinite; /* Quay vòng tròn */
        }

        /* Hiệu ứng quay vòng tròn */
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}
