@use '../../scss/' as *;

.searchWrapper {
    position: relative;

    .searchField {
        padding-inline: var(--padding-page);
        position: sticky;
        inset-block-start: var(--navbar-height);
        background-color: #141519;
        z-index: 10;

        .searchField__container {
            height: 100%;
            padding-block: 2rem;

            .searchField__input {
                display: flex;
                max-width: 55rem;
                margin: 0 auto;
                border-block-end: 0.2rem solid #59595b;
                transition: border-color 0.2s cubic-bezier(0.5, 0, 0.25, 1);

                input {
                    text-rendering: optimizeLegibility;
                    flex: 1 1 auto;
                    background-color: #0000;
                    display: block;
                    width: 100%;
                    border: none;
                    padding-block: 0 0.25rem;
                    color: #fff;
                    font-size: 2.5rem;
                }

                &:focus-within {
                    border-block-end: 0.2rem solid var(--primary-color);
                }

                .searchField__input__action {
                    margin: auto;

                    span {
                        margin: auto;
                    }
                }
            }
        }
    }

    .searchResult {
        padding-block: var(--padding-page);
        padding-inline: var(--padding-page);

        .searchResult__emty {
            max-width: var(--container-width);
            margin: auto;
        }

        .searchResult__content {
            max-width: var(--container-width);
            margin: auto;

            .searchResult__content__group__header {
                @include flex(center, space-between);

                .searchResult__content__title {
                    font-size: 2rem;
                    padding-block: 20px;
                    text-align: start;
                    height: 100%;
                    color: var(--text-color);
                    font-weight: 600;
                }

                .searchResult__content__action {
                    color: var(--grey);
                }
            }

            .searchResult__content__list {
                display: grid;

                grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
                gap: 20px;

                @include tabletsm() {
                    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
                }

                @include mobilesm() {
                    grid-template-columns: minmax(0, 1fr);
                }
            }

            .searchResult__content__recent .searchResult__content__recent__list {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                padding: 0;
                cursor: pointer;

                .searchResult__content__recent__list__item {
                    display: flex;
                    align-items: center;
                    gap: 8px; // Khoảng cách giữa nội dung và nút button
                    background-color: rgba(255, 255, 255, 0.1);
                    padding: 8px 12px;
                    border-radius: 8px;
                    transition: background 0.3s ease;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                }
            }
        }
    }
}
